html, body {
	margin: 0;
	padding: 0;
	background: white;
	position: relative;
}
div {
	background: white;
	border-radius: .7rem;
	box-shadow: 0 .7rem 1.5rem rgba(0,0,0,0.1);
	width: 20rem; /*16%;*/
	height: 4.75rem; /*8%;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}