html, body {
	margin: 0;
	padding: 0;
	background: white;
	position: relative;
}
main {
  background: white;
  height: auto;
  width: auto;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}
main div {
  width: 50%;
  padding: 5em;
  resize: both;
  overflow: auto;
  background: purple;
}
img {
	display: block;
	-webkit-user-select: none;
	margin: auto;
	background-color: hsl(0, 0%, 90%);
}
iframe {
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
	margin: auto;
	background-color: hsl(0, 0%, 90%);
}
.blur {
  filter: blur(48px);
  height: 100%;
  display: flex; // make use of Flexbox 
  align-items: center; // vertically centers the desired content 
  justify-content: center; // horizontally centers single line items 
  text-align: center; // optional, but helps horizontally center text that breaks into multiple lines
}